.title2 {
    /* border: 1px solid black; */
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 12px;
}

.title2-mainComp{
    background-color: rgb(217, 217, 217);
}

/* .tit2-headcomp{
    display: flex;
    gap: 20px;
} */

