.tit2maincomp{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:20px;
}

.tit2comp {
    border: 1px solid black;
    height: 100px;
    width: 80%;
    border-radius: 20px;
}