.box {
    height: 80px;
    background-color: rgb(245, 245, 245);
    border: 2px solid black;
    border-radius: 5px ;
    margin-bottom: 20px;
}

.boxTick {
    height: 80px;
    background-color: rgb(245, 245, 245);
    border: 2px solid black;
    border-radius: 5px ;
    margin-bottom: 20px;
    padding-top: 16px;
    padding-left: 10px
}