/* InfoBox.css */
.info-box {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px; /* Adjust height if needed */
    color: #333;
    font-size: 14px;
  }
  