.practiceCard {
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    height: 50%;
    width: 100%;
  }
  
.practiceCard-child {
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  
#videolink {
    width: 50%;
}
  
.videoimage {
    width: 40%;
    position: relative; 
    overflow: hidden;
    border-radius: 8px;
}

.video-iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%; 
    height: 110%; 
    transform: translate(-50%, -50%) scale(0.9); 
    transform-origin: center;
    object-fit: contain;
}
  
.pCard {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.btn {
    height: 100%;
    width: 100%;
}
