/* Sidebar.css */
.sidebar {
    width: 30%;
    background-color: yellow;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .sidebar-Title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .sidebar-Title1{
    display: flex;
    align-items: center;
  }
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .sidebar-profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #3c3f3c;
  }
  
  .sidebar-settings {
    font-size: 20px;
  }
  .input-box{
    width: 60%;
  }
 .boxx {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
 }

 .tasklist-section{
  overflow: auto;
 }
