/* Sidebar.css */
.sidebar {
    width: 30%;
    background-color: yellow;
    padding: 20px;
    margin-bottom: 100px;
    border-radius: 10px;
    height:98%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .sidebar-Title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .sidebar-Title1{
    display: flex;
    align-items: center;
  }
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .sidebar-profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #3c3f3c;
  }
  
  .sidebar-settings {
    font-size: 20px;
  }
  .input-box{
    width: 60%;
  }
 .boxx {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
 }

 .tasklist-section{
  max-height: 85vh;
  overflow: auto;
  margin-bottom: 30px;
  padding-right: 20px; 
 }

 .tasklist-section::-webkit-scrollbar {
  width: 10px;               /* Width of the scrollbar */
}

.tasklist-section::-webkit-scrollbar-track {
  background: #f1f1f1;      /* Background color of the scrollbar track */
  border-radius: 10px;      /* Rounds the scrollbar track corners */
}

.tasklist-section::-webkit-scrollbar-thumb {
  background-color: #888;   /* Color of the scrollbar thumb */
  border-radius: 10px;      /* Rounds the scrollbar thumb corners */
  border: 2px solid #f1f1f1; /* Adds padding around the thumb */
}

.tasklist-section::-webkit-scrollbar-thumb:hover {
  background: #555;         /* Color when hovering over the scrollbar */
}
