* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.top-container{
  display: flex;
  height: 100vh;
  /* background-color: crimson; */
}

.sidebar{
  width: 30%;;
  background-color: rgb(217, 217, 217);
  border: 1px solid black;
  margin: 15px;
  border-radius: 10px;
}

.main-container{
  width: 70%;
  background-color: aqua;
  border: 1px solid black;
  margin: 15px;
  border-radius: 5px;
}